<!DOCTYPE html>
<html>
   <%- include('layouts/header') %> 
  <head>
    <title>Login Template</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #f8f8f8;
      }
      .lcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;

      }
      h1 {
        text-align: center;
        margin-bottom: 20px;
        color: #000000;
        text-transform: uppercase;
        letter-spacing: 3px;
      }

      h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #7c7b7b;
        text-transform: uppercase;
        letter-spacing: 3px;
      }
      

    </style>
  </head>
  <body>
    <div class="lcontainer">
       <h1>Dashboard</h1>
       <h2>Drive Test <br>Booking Kiosk</h2>
    </div>
  </body>
  <%- include('layouts/footer') %> 
  
</html>